/*.style-container {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}*/

.style-col-detail {
  padding-right: 0;
  padding-left: 0;
}

.col-sm-8 {
  padding-left: 0;
  padding-top: 80px;
}

.col-sm-4 {
  padding-top: 80px;
}

.post-box {
  width: 650px;
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid #dddddd;
}

.post-date {
  width: 100%;
  text-align: right;
  padding: 10px 0;
}

.post-header {
  overflow: hidden;
  width: 100%;
}

.post-title {
  padding-bottom: 8px;
}

.post-title h1 {
  font-weight: 700;
}

.post-page-left {
  width: 650px;
  overflow: hidden;
  float: left;
}

.post-footer {
  padding: 5px 0 10px 0;
  color: #999;
}

.timeago {
  float: right;
}

.post-content {
  text-align: center;
  width: 650px;
  background: #EBEBEB;
}

.post-content > img.img-responsive {
  margin: 0 auto;
}

.post-content-box {
  width: 650px;
  overflow: hidden;
  /*padding: 26px 0;*/
  /*border-bottom: 1px solid #dddddd;*/
}

.post-content-box p {
  margin: 15px 0;
}

.post-action {
  padding-bottom: 53px;
  padding-top: 0px;
  width: 100%;
}

.vote-box {
  width: 50%;
  float: left;
  margin-top: 10px;
  margin-bottom: 15px;
}

/*
#wrap {
  margin-top: 50px;
}*/

.fb-button {
  color: #FFF;
  background: #3e5b97;
  border: 1px solid #1d3b79;
  /*margin-right: 7px;*/
  float: right;
}

.fb-button:hover {
  color: #FFF;
  background: #2a55ae;
  border: 1px solid #1d3b79;
}

.fb-button:link, .fb-button:visited {
  color: #FFF;
  float: right;
}

.fb-button-top {
  color: #FFF;
  background: #3e5b97;
  border: 1px solid #1d3b79;
  margin-right: 7px;
}

.fb-button-top:hover {
  color: #FFF;
  background: #2a55ae;
  border: 1px solid #1d3b79;
}

.fb-button-top:link, .fb-button-top:visited {
  color: #FFF;
  float: left;
}

.bottom-share {
  width: 100%;
  margin: 15px 0;
  overflow: hidden;
  display: block;
}

.fb-btn-long:link, .fb-btn-long:visited, .twitter-btn-long:link, .twitter-btn-long:visited {
  color: #FFF;
}

.fb-btn-long:hover {
  background: #2a55ae;
  border: 1px solid #1d3b79;
}

.vote-box-top {
  display: inline-block;
  float: left;
  margin-top: 10px;
  margin-bottom: 15px;
}

.vote-font {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.comment {
  overflow: hidden;
  padding: 0 0 1em;
  margin: 0 0 1em;
  *zoom: 1;
}

.comment-img {
  float: left;
  margin-right: 33px;
  border-radius: 2px;
  overflow: hidden;
}

.comment-img img {
  display: block;
}

.comment-body {
  overflow: hidden;
}

.comment .text {
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  background: #fff;
}

.comment .text p:last-child {
  margin: 0;
}

.comment .attribution {
  margin: 0.5em 0 0;
  font-size: 14px;
  color: #666;
}

/* Decoration */
.comments {
  margin-top: 20px;
}

.comments,
.comment {
  position: relative;
}

.comments:before,
.comment:before,
.comment .text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 65px;
}

.comments:before {
  width: 3px;
  top: -20px;
  bottom: -20px;
  background: rgba(0, 0, 0, 0.1);
}

.comment:before {
  width: 9px;
  height: 9px;
  border: 3px solid #fff;
  border-radius: 100px;
  margin: 16px 0 0 -6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1);
  background: #ccc;
}

.comment:hover:before {
  background: orange;
}

.comment .text:before {
  top: 18px;
  left: 78px;
  width: 9px;
  height: 9px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: #e5e5e5;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.smallText {
  color: #999;
}

.unvotedButton {
  float: left;
  padding: 0 8px 0 12px;
  font-weight: 700;
  height: 34px;
  line-height: 34px;
  display: block;
  border: #ddd 1px solid;
  background-color: #fff;
  color: #999;
  border-radius: 3px;
  text-align: center;
  width: 75px;
  cursor: pointer;
}

.votedButton {
  float: left;
  padding: 0 8px 0 12px;
  font-weight: 700;
  height: 34px;
  line-height: 34px;
  display: block;
  border: #09f 1px solid;
  color: #09f;
  border-radius: 3px;
  text-align: center;
  width: 75px;
  cursor: pointer;
  font-weight: bold;
}

.shareButton {
  float: left;
  margin-left: 10px;
  display: block;
  color: #fff;
  font-weight: 700;
  height: 34px;
  background-color: #3b5998;
  line-height: 34px;
  padding: 0 15px 0 34px;
  border-radius: 2px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.shareButton2 {
  position: relative;
  float: left;
  display: block;
}

.shareButton::after {
  content: " ";
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  left: 2px;
  background: url('../../../assets/images/sprite.png') -90px 0 no-repeat;
  background-size: 270px 60px;
}

.nextButton {
  cursor: pointer;
  padding-right: 12px;
  float: right;
  position: relative;
}

.nextButton .text {
  padding: 0 8px 0 12px;
  font-weight: 700;
  height: 34px;
  line-height: 34px;
  display: block;
  background-color: #ff3c1f;
  color: #fff;
  border-radius: 3px 0 0 3px;
}

.nextButton .arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 0;
  height: 0;
  border-top: 19px dashed transparent;
  border-bottom: 17px dashed transparent;
  border-left: 13px solid #ff3c1f;
}

/*.clear-fix {*/
/*clear: both*/
/*}*/

.facebook-comments {
  overflow-y: scroll;
  border-left: 1px solid #dee5e7;
  height: auto;
}

.shareButtonLarge {
  margin: 10px auto 20px;
  width: 50%;
  background: #3b5998;
  height: 44px;
  line-height: 43px;
  font-size: 15px;
  padding: 0;
  display: block;
  color: #fff;
  font-weight: 700;
  border-radius: 2px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.shareButtonLarge:after {
  content: " ";
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  left: 2px;
  background: url('../../../assets/images/sprite.png') -90px 0 no-repeat;
  background-size: 270px 60px;
}

.sideAd {
  text-align: center;
  margin-top: 30px;
}

@media (max-width: 1200px) {

  .post-content-box {
    width: 100%;
  }

  .post-page-left {
    width: 100%;
  }

}

@media (max-width: 990px) {

  .img-responsive, .thumb {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .post-box {
    width: 100%;
  }

  .post-left {
    width: 100%;
  }

  .post-content {
    width: 100%;
  }

}

@media (max-width: 755px) {
  .shareButtonLarge {
    width: 70%;
    font-size: 13px;
  }

}

@media (max-width: 645px) {

}

@media (max-width: 552px) {

  .fb-btn-long {
    display: none;
  }

  .remove-mobile {
    display: none;
  }

  .vote-box {
    width: 65%;
  }

  .social-box {
    width: 35%;
  }

}

@media (max-width: 350px) {

  #wrap {
    margin: 0 auto -120px;
    padding: 0 0 120px;
  }

  .main-footer {
    height: 120px;
  }

  .unvotedButton {
    width: 60px;
  }

  .shareButton {
    margin-left: 3px;
  }

}

@media (max-width: 332px) {
  .nextButton {
    display: none;
  }
}
