/*.wrapper {
  padding-top: 80px
}

.wrapper a {
  color: #000;
}*/

.col-sm-8 {
  /*padding-left: 0;*/
  padding-top: 60px;
  padding-bottom: 40px;

}

.col-sm-4 {
  padding-top: 80px;
  width: 30%;
}

.ads-one {
  margin: 15px 0;
  overflow: hidden;
}

@media (max-width: 990px) {

  .col-sm-4 {
    display: none;
  }

  .col-sm-8 {
    width: 100%;
    /*padding: 0;*/
  }

}
