

.right-bar-title {
  padding: 5px 0;
}

.right-bar-title a h2 {
  color: black;
}

.recommends-list-wrapper {
  text-align: left;
}

.horizontal {
  /*float:left;*/
  width: 200px;
  height: 130px;
  /*margin: auto 5px;*/
}

.recommentContainer {
  margin: 0 auto;
}

.recommend-item {
  margin-top: 13px;
}
