
.recommend-item {
  /*margin-top: 0;*/
}

.right-bar-title {
  padding: 5px 0;
}

.right-bar-title h1 {
  font-weight: bold;
}

.right-bar-title a h2 {
  color: black;
}

#featured-box {
  float: right;
  overflow: hidden;
}

/*.recommends-list-wrapper {*/

/*}*/

.horizontal {
  width: 243px;
  height: 170px;
}

.recommentContainer {
  /*margin: 0 auto;*/
}

@media (max-width: 750px) {
  .horizontal {
    width: 100%;
    height: auto;
  }
}

.recommend-item {
  margin-top: 13px;
}



