
.mobile-menu-icon-wrapper{
  float: right;
  margin-top: 10px;
}
.mobile-logo-wrapper{
  margin: auto;
  width: 100px;
}

.logo {
  height: 100%;
}
.logo-wrapper{
  padding: 0;
}
.body_ribbon{
  width: 100%;
  height: 5px;
  position: relative;
  z-index: 3;
}
.esi_ribbon{
  background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22500%22%3E%3Crect%20x%3D%220%22%20width%3D%22118%22%20height%3D%22100%25%22%20style%3D%22fill%3A%2328a1d8%22%2F%3E%3Crect%20x%3D%22118%22%20width%3D%2252%22%20height%3D%22100%25%22%20style%3D%22fill%3A%23248bc7%22%2F%3E%3Crect%20x%3D%22170%22%20width%3D%2274%22%20height%3D%22100%25%22%20style%3D%22fill%3A%231e3955%22%2F%3E%3Crect%20x%3D%22244%22%20width%3D%2218%22%20height%3D%22100%25%22%20style%3D%22fill%3A%232f5132%22%2F%3E%3Crect%20x%3D%22262%22%20width%3D%221%22%20height%3D%22100%25%22%20style%3D%22fill%3A%23416828%22%2F%3E%3Crect%20x%3D%22263%22%20width%3D%2258%22%20height%3D%22100%25%22%20style%3D%22fill%3A%237eaa29%22%2F%3E%3Crect%20x%3D%22321%22%20width%3D%2225%22%20height%3D%22100%25%22%20style%3D%22fill%3A%23dcbd42%22%2F%3E%3Crect%20x%3D%22346%22%20width%3D%2243%22%20height%3D%22100%25%22%20style%3D%22fill%3A%23dcad27%22%2F%3E%3Crect%20x%3D%22389%22%20width%3D%222%22%20height%3D%22100%25%22%20style%3D%22fill%3A%23e39a23%22%2F%3E%3Crect%20x%3D%22391%22%20width%3D%224%22%20height%3D%22100%25%22%20style%3D%22fill%3A%23cc554c%22%2F%3E%3Crect%20x%3D%22395%22%20width%3D%2226%22%20height%3D%22100%25%22%20style%3D%22fill%3A%23ca473f%22%2F%3E%3Crect%20x%3D%22421%22%20width%3D%2234%22%20height%3D%22100%25%22%20style%3D%22fill%3A%23a72834%22%2F%3E%3Crect%20x%3D%22455%22%20width%3D%228%22%20height%3D%22100%25%22%20style%3D%22fill%3A%23735675%22%2F%3E%3Crect%20x%3D%22463%22%20width%3D%2228%22%20height%3D%22100%25%22%20style%3D%22fill%3A%23653e66%22%2F%3E%3Crect%20x%3D%22491%22%20width%3D%229%22%20height%3D%22100%25%22%20style%3D%22fill%3A%233b315b%22%2F%3E%3C%2Fsvg%3E%0A) top left/500px 100% repeat-x;
}

.header-wrapper{
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.nav-wide{
  display: none;
  margin: 0 auto;
}

.nav-wide .wide-div{
  text-align: center;
}
.nav-narrow i{
  float: left;
  cursor: pointer;
  color: #597836;
}
.narrow-links{
  display: none;
}
.narrow-links a{
  text-decoration: none;
  display: block;
  float: left;
  clear: left;
  padding: 0.5em 0;
  margin: auto;
}

@media (min-width: 600px){
  .nav-wide{
    display: block;
  }
  .nav-narrow{
    display: none;
  }
}
