
.featured-title h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 8px 0 17px 0;

}

.featured-post {
  overflow: hidden;
  margin-bottom: 10px;
  padding: 0;
}

.featured-image {
  height: 105px;
  width: 300px;
  overflow: hidden;
  border-radius: 1px;
}

.horizontal {
  height: auto;
  width: 100%;
}
