
.featured-title h2 {
  font-size: 13px;
  font-weight: bold;
  padding: 4px 0 3px 0;

}

.featured-post {
  overflow: hidden;
  margin-bottom: 10px;
  padding: 0;
}

.featured-image {
  height: 96px;
  width: 277px;
  overflow: hidden;
  border-radius: 1px;
}

.horizontal {
  height: auto;
  width: 100%;
}
