@media (max-width: 552px) {

  .remove-mobile {
    display: none;
  }
}
.post-left {
  width: 500px;
  overflow: hidden;
  float: left;
}
@media (max-width: 990px) {
  .post-box {
    max-width: 550px;
    width: 100%;
  }

  .post-left {
    max-width: 500px;
    width: 100%;
  }

  .post-content {
    width: 100%;
  }

  .post {
    width: 100%;
    height: auto;
  }
}
.post{
  border-radius: 10px;
}
.post-box {
  margin: 0 auto;
  max-width: 550px; 
  overflow: hidden;
  margin-bottom: 21px;
  border-bottom: 1px solid #dddddd;
}

.post-box p {
  margin: 15px 0;
}
.post-header {
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
}

.post-title {
  padding-bottom: 15px;
  cursor: pointer;
}
.post-footer {
  color: #999;
  margin: 5px 0;
  font-weight: normal;
  text-align: left;
  font-size: 25px;
}
.post-title h1 {
  font-weight: 700;
  float: left;
}


.fb-button{
  background-color: #3b5998;
  color: #fff;
  display: block;
  font-weight: 700;
  height: 34px;
  line-height: 34px;
  padding: 0 23px 0 17px;
  border-radius: 2px;
  text-align: center;
  font-size: 14px;
}
.fb-button:hover{
  background-color: #4c70ba;
   color: #fff;
}
.fb-button i {
  margin-right: 10px;
  font-size: 20px;
  line-height: 34px;
}
.fb-button span {
  line-height: 34px;
  margin-bottom: 7px;
  display: block;
  float: right;
}

.social-button{
  height:50px;
}

.box-vote{
  float:left;
  margin-right: 20px;
  position: relative;
}
.box-comment{
  float:left;
  line-height: 36px;
  display: block;
}
.box-facebook{
  float:right;
}
.twitter-heart-wrapper{
  display: inline-block;
  font-size: 15px;
  margin-top: 4px;
  float: left;
  width: 56px;
  position: absolute;
  left: -10px;
  transform: scale(0.75);
}
.vote-number-wrapper{
  float: right;
  margin-left: 37px;
  line-height: 36px;
  font-size: 15px;
}

.comment-icon-wrapper{
  float: left;
  line-height: 36px;
}
.comment-number-wrapper{
  float: right;
  margin-left: 5px;
  font-size: 15px;
  line-height: 36px;
}
