@media (max-width: 552px) {

  .remove-mobile {
    display: none;
  }
}
.post-left {
  width: 500px;
  overflow: hidden;
  float: left;
}
@media (max-width: 990px) {
  .post-box {
    width: 100%;
  }

  .post-left {
    width: 100%;
  }

  .post-content {
    width: 100%;
  }

  .post {
    width: 100%;
    height: auto;
  }
}
.post-box {
  margin: 0 auto;
  width: 550px;
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid #dddddd;
}

.post-box p {
  margin: 15px 0;
}
.post-header {
  overflow: hidden;
  width: 100%;
}

.post-title {
  padding-bottom: 15px;
  cursor: pointer;
}
.post-footer {
  padding: 5px 0 10px 0;
  color: #999;
}
.post-title h1 {
  font-weight: 700;
}

.emotion-button{width: 300px; border-radius: 5px; font-size: 30px; line-height: 5px}
.thumbup{color: #191e3f;}
.thumbup{color: r; }