
.post-left {
  width: 500px;
  overflow: hidden;
  float: left;
}

.post {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 500px;
  text-align: center;
  border-radius: 2px;
}

.post-box {
  margin: 0 auto;
  width: 550px;
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid #dddddd;
}

.post-box p {
  margin: 15px 0;
}

.post-header {
  overflow: hidden;
  width: 100%;
  padding: 12px 0 12px 0;
}

.post-title {
  padding-bottom: 4px;
  cursor: pointer;
}

.post-title h1 {
  font-weight: bold;
  float: left;
}

.post-footer {
  color: #999;
  margin: 10px 0;
  font-weight: normal;
  text-align: left;
  display: inline-block;
  width: 100%;
  font-size: 20px;
}

.box-facebook > a > i {
  color: #fff;
}

.box-facebook > a > span {
  color: #fff;
}

.fb-button {
  background-color: #3b5998;
  display: block;
  font-weight: 700;
  height: 34px;
  line-height: 34px;
  padding: 0 23px 0 17px;
  border-radius: 2px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.fb-button:hover {
  background-color: #4c70ba;
  color: #fff;
}

.fb-button i {
  margin-right: 10px;
  font-size: 20px;
  line-height: 34px;
}

.fb-button span {
  float: right;
}

/*DEVIDE*/

.social-button {
  height: 50px;
}

.box-vote {
  float: left;
  margin-right: 20px;
  position: relative;
  transition: 0.06s ease-in-out;
  transition-property: bottom;
  bottom: 0px;
}

.box-vote:hover {
  bottom: 4px;
}

.box-comment {
  float: left;
  line-height: 36px;
  display: block;
  position: relative;
  transition: 0.06s ease-in-out;
  transition-property: bottom;
  bottom: 0px;
}

.box-comment:hover {
  bottom: 4px;
}

.box-facebook {
  float: right;
}

.twitter-heart-wrapper {
  display: inline-block;
  font-size: 13px;
  margin-top: 4px;
  float: left;
  width: 56px;
  position: absolute;
  left: -10px;
  transform: scale(0.75);

}

.vote-number-wrapper {
  float: right;
  margin-left: 29px;
  line-height: 36px;
  font-size: 15px;
  color: #888888;
}

.comment-icon-wrapper > i {
  float: left;
  line-height: 36px;
  cursor: pointer;
  display: block;
  color: #888888;
}

.comment-icon-wrapper:hover {
  color: #597836;
}

.comment-number-wrapper {
  float: right;
  margin-left: 5px;
  font-size: 15px;
  line-height: 36px;
  color: #888888;
}

.read-more {
  position: absolute;
  background: #fff;
  bottom: 46px;
  line-height: 33px;
  height: 33px;
  width: 100%;
  z-index: 10;
  display: block;
  left: 0px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
}

@media (max-width: 990px) {
  .post-box {
    width: 100%;
  }

  .post-left {
    width: 100%;
  }

  .post-content {
    width: 100%;
  }

  .post {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 552px) {

  .remove-mobile {
    display: none;
  }
}
